<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FirstAid.FirstAid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<application android:label="FirstAid" android:icon="@drawable/icon_" android:largeHeap="true" ></application>
</manifest>